<div class="container mt-4">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <div class="left">
            <h2 class="fs-2">Contact</h2>
            <br />
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid
              obcaecati inventore itaque nostrum qui, libero esse modi atque
              temporibus suscipit maiores sunt voluptate cumque omnis earum,
              magnam labore officia veniam natus adipisci! Ut, voluptatum id
              consequatur nihil voluptates itaque. Quis eveniet laborum
              reprehenderit placeat fuga recusandae deleniti aliquid adipisci aut
              excepturi, veniam inventore ipsam omnis? Accusamus obcaecati, vero
              magnam non ipsum error minus ipsam dolor voluptas quis vitae, quae
              expedita nulla eius reiciendis delectus sed cupiditate excepturi
              neque eveniet placeat voluptatum maxime soluta. Repellat commodi,
              eos eum alias iste aspernatur officiis a fugiat provident rem, modi
              sunt reprehenderit dolor repudiandae.
            </p>
            <br />
            <div class="mt-3 mb-4">
              <button class="btn btn-primary">Get In Touch</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-4 ml-2">
          <img src="../../assets/contact.jpg" class="card-img-top" style="margin-left: -15px;height: 20rem;" alt="..." />
      </div>
        </div>
      </div>
    </div>
  </div>
  
