<div class="container mt-4">
  <div class="card">
    <div class="row">
      <div class="col-md-6">
        <div style="margin-top: 3rem; margin-left: 1rem">
          <h1>Mobile</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            animi numquam debitis explicabo, quia illo nam libero accusantium?
            Recusandae dignissimos molestiae, incidunt nisi ad similique
            corrupti quam odit dolorum fugiat. Ullam est ad sed inventore
            consequuntur amet omnis! Exercitationem soluta sed maxime excepturi
            iusto repellat possimus quasi. Ex, illum maxime?
          </p>
          <div style="margin-top: 2rem; margin-bottom: 2rem">
            <button class="btn btn-primary" (click)="back()">Back to Product</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="margin-top: 2rem; margin-bottom: 2rem;">
          <img
            src="../../../assets/laptop.jpg"
            style="height: 20rem; width: 30rem"
          />
        </div>
      </div>
    </div>
  </div>
</div>
