<div class="container-fluid mt-4">
  <ul class="modify">
    <div class="begin">
      <li>
        <a routerLinkActive="active" routerLink="/home"
          ><img src="../assets/logo.png" class="img"
        /></a>
      </li>
    </div>
    <div class="d-flex firstwrap">
      <ng-container *ngIf="goBackLink">
        <li>
          <a href="#" class="back" class="text-primary">
            <i class="fa-solid fa-chevron-left"></i> Back to Product
          </a>
        </li>
        <li>
          <a href="#" class="back" class="text-primary">
            <i class="fa-solid fa-chevron-left"></i> Back to Gallery
          </a>
        </li>
      </ng-container>
      <div class="d-flex" *ngIf="headerNav">
        <li>
          <a routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/about">About</a></li>

        <li><a routerLinkActive="active" routerLink="/gallery">Gallery</a></li>

        <li><a routerLinkActive="active" routerLink="/product">Product</a></li>

        <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
      </div>
    </div>
    <div class="secondwrap">
      <ng-container *ngIf="headerLogin">
        <li>
          <a routerLinkActive="active" routerLink="/signin"
            ><button
              *ngIf="!logedInUser"
              class="btn btn-outline-primary"
              style="width: max-content"
            >
              Sign In
            </button></a
          >
        </li>
        <ul class="d-flex" *ngIf="logedInUser">
          <li class="d-flex " style="margin-right: 150px;" >
            Welcome <strong class="text-primary">Sagar </strong>
            <span style="margin-left: 20px;">|</span>
          </li>

          <li  >
            <a style="margin-right: 20px;" href="#">Logout</a>
          </li>
        </ul>
      </ng-container>
    </div>
    <div *ngIf="headerContact">
      <a href="sagarkumarmohapatra5@gmail.com" class="text-black"
        ><i></i>{{email}}</a
      ><br />
      <a href="sagarkumarmohapatra5@gmail.com" class="text-black"
        ><i></i>+919777937220</a
      >
    </div>
  </ul>
</div>
<router-outlet></router-outlet>