<div class="container mt-4" *ngIf="hideproduct">
  <div class="card" style="background: #efefef">
    <h2 style="margin-left: 3rem; margin-top: 5px">Product</h2>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center mb-3" style="margin-left: 20px">
          <img src="../../assets/laptop.jpg" style="height: 155px" />
          <p>Laptop</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel,
            magnam.
          </p>
          <div>
            <button (click)="hide()" routerLink="productdetail" class="btn btn-success" style="margin-bottom: 10px">
              know more
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <img
            src="../../assets/mobile-phone-2198770_1280.png"
            style="height: 155px"
          />
          <p>Mobile</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel,
            magnam.
          </p>
          <div>
            <button class="btn btn-success" style="margin-bottom: 10px">
              know more
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <img src="../../assets/istockphoto-1002728980-1024x1024.jpg" />
          <p>Televison</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel,
            magnam.
          </p>
          <div>
            <button class="btn btn-success" style="margin-bottom: 10px">
              know more
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center" style="margin-right: 20px">
          <img
            src="../../assets/ai-generated-8829029_1280.jpg"
            style="height: 155px"
          />
          <p>Washing Mechine</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel,
            magnam.
          </p>
          <div>
            <button class="btn btn-success" style="margin-bottom: 10px">
              know more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
